mixin restaurantCard(restaurant = {})
  .restaurant  
    .restaurant__hero
      .restaurant__actions
        .restaurant__action.restaurant__action--edit
          a(href=`/restaurants/${restaurant._id}/edit`)
            != h.icon('pencil')
      img(src=`/uploads/${restaurant.photo || 'restaurant.png'}`)
      h2.title
        a(href=`/restaurants/${restaurant.slug}`) #{restaurant.name}
    .restaurant__details
      p= restaurant.description.split(' ').slice(0, 25).join(' ')